block footerScripts
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		script(src='/javascripts/lib/require.js', data-main='/javascripts/app/main')
		script
			console.log('footer');
			define('settings', {
				'gaAccountId': 'GA_ACCOUNT_ID_HERE',
				'fbAccountId': 'FB_ACCOUNT_ID_HERE'
			});