extends layout
block content
	#global-container
		#main
			h1 Header 1
			h2 Header 2
			h3 Header 3
			h4 Header 5
			.borderlg
			.bordermd
			.bordersms
			.button
			.rating
				input#star1('type=radio", name="star")
					label(for="star1")
				input#star2('type=radio", name="star")
					label(for="star2")
				input#star3('type=radio", name="star")
					label(for="star3")
				input#star4('type=radio", name="star")
					label(for="star4")


